/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

}

.projectsSection  .slick-list{
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    height: auto;
}

.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px 0 0 0 !important;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: #fff;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #000;
}



/*** Slider theme 13 ***/
.hold-slider{
    margin-top: 13vh;
    height: 75vh;
    overflow: visible;
}
.hold-slider .slick-list{
    overflow: visible;
}
.hold-slider .slick-slider .slick-track{
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide{
    height: 54vh;
    margin: 0px 40px;
    width: 28vw !important;
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide>div{
    text-align: center;
}
.hold-slider .slick-slide .slide-item img{
    width: 100%;
    transition: all 0.5s ease-in;
    border-radius: 40px;
}
.hold-slider .slick-slide .slide-item{
    transition: all 0.5s ease-in;
    padding-top: 16vh;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 54px 49px -64px rgba(0,0,0,0.51);
    overflow: hidden;
}
.hold-slider .slick-slide.slick-current .slide-item{
    padding: 0;
}
.hold-slider .slick-slide.slick-current .slide-item img{
    width: 100%;
    max-height: 82.6vh;
}
.hold-slider .slick-slide.slick-current{
    margin-left: 0px;
    width: 48.45vw !important;
    height: 82.6vh;
    
}
/** Fixes on vertical mode **/

.hold-slider .slick-slider.slick-vertical .slick-slide{
    width: 94vw !important;
    height: 96.5vh;
    margin-bottom: 18vh;
}
.hold-slider .slick-slider.slick-vertical .slick-slide .slide-item{
    padding: 0;
}
.hold-slider .slick-slider.slick-vertical .slick-slide img{
    max-height: 100%;
}


@media screen and (max-width: 768px) {
    .hold-slider{
        height: 245vh;
        margin-bottom: 60px;
    }
    .hold-slider .nav-slider{
        bottom: 0 !important;
    }
   
    .hold-slider .slick-list{
        padding: 0 3% !important;
        overflow: hidden;
    }
    .hold-slider .slick-slide{
        max-width: 720px ;
        width: 100% !important;
        transition: none;
        margin: 0px auto;
        height: 635px;
    }
    .hold-slider .slick-slide.slick-current {
        margin:0px auto;
        width: 100% !important;
    }
    .hold-slider .slick-slider .slick-track{
        transition: none;
    }
    .hold-slider .slick-slide .slide-item img{
        width: 100%;
    }
}

/*** Slider on Tabs skills **/


.hold-skills .nav-slider,.hold-slider .nav-slider{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.hold-skills .nav-slider .navDotsContents, .hold-slider .nav-slider .navDots{
    margin: 0px 30px;
}

.hold-skills .nav-slider .navDotsContents ul,.hold-slider .nav-slider .navDots ul{
    padding-top: 0 !important;
}
.hold-skills .nav-slider .navDotsContents ul li, .hold-slider .nav-slider .navDots ul li{
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.hold-skills .nav-slider .navDotsContents ul li.slick-active, .hold-slider .nav-slider .navDots ul li.slick-active{
    border: 1px solid #1B33F2;
}

.hold-skills .nav-slider .navDotsContents ul li button, .hold-slider .nav-slider .navDots ul li button{
    width: 18px;
    height: 18px;
    background: #1B33F2;
    border: 0;
    outline: none;
    opacity: .4;
}
.hold-skills .nav-slider .navDotsContents ul li.slick-active button, .hold-slider .nav-slider .navDots ul li.slick-active button{
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .mc-subtabs_skills .hold-skills .slick-slide{
        width: 70px;
        margin: 0 7.5vw;
    }

    .mc-subtabs_skills .hold-skills > div:nth-child(2){
        margin-top: 0 !important;
    }

    .mc-subtabs_skills .hold-skills .slick-slide .item-skill .v-progress-circular{
        max-width: 58px;
    }

    .mc-subtabs_skills .hold-skills .slick-slide .item-skill .v-progress-circular .v-progress-circular__info{
        font-size: 18px;
    }
}

/** Styles for Theme 19 **/
.wraps-theme19 .hold-carousel{
    display: flex;
    flex-flow: column;
    margin: 6% 0 4% 0;
    overflow: hidden;
}
.wraps-theme19 .hold-carousel .slick-slide{
    margin: 0px 28px;
}
.wraps-theme19 .hold-carousel .slick-slide:first-child{
    margin-left: 0px;
}
.wraps-theme19 .hold-carousel .slick-slide .slide-item{
    width: 680px !important;
    border-radius: 80px;
    overflow: hidden;
    background-color: #fff;
}
.wraps-theme19 .hold-carousel .slick-slide.slick-current .slide-item img{
    border-color: #fff;
}
.wraps-theme19 .hold-carousel .slick-slide .slide-item img{
    max-width: 100%;
    border: 8px solid #00A9FF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 80px;
    transition: all .5s linear;
}
.wraps-theme19 .hold-carousel .nav-slider{
    width: 374px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 6px solid #FFFFFF;
    box-sizing: border-box;
    padding: 0px 24px;
    box-shadow: 0px 4px 30px rgba(44, 37, 66, 0.08);
    border-radius: 80px;
    align-self: flex-end;
    margin-top: 3%;
}
.wraps-theme19 .hold-carousel .nav-slider .slick-arrow{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
}

.wraps-theme19 .hold-carousel .nav-slider .slick-arrow.slick-prev{
    background: url('../imgs/resume19/left-arrow.svg') center left no-repeat;
    padding-left: 50px;
}
.wraps-theme19 .hold-carousel .nav-slider .slick-arrow.slick-next{
    background: url('../imgs/resume19/right-arrow.svg') center right no-repeat;
    padding-right: 50px;
}
.wraps-theme19 .hold-carousel .nav-slider a:first-child img{
    margin-right: 10px;
}
.wraps-theme19 .hold-carousel .nav-slider a+a img{
    margin-left: 10px;
}

/** **/

.wraps-theme19 .hold-carousel.wrap-texts .slide-item{
    background-color: #2C2542;
    border: 8px solid #fff;
    border-radius: 80px;
    padding: 12% 80px;
    min-height: 518px;
}
.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-titles{
    display: flex;
    justify-content: space-between;
}
.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    margin-top: 50px;
}


.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-titles .title-work{
    font-family: "Gotham Pro";
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 190px;
}
.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-titles .years-work{
    font-family: "Actor";
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-text .title-company{
    font-family: "Actor";
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.wraps-theme19 .hold-carousel.wrap-texts .slide-item .hold-text .list-tasks{
    font-family: "Actor";
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

/** carousel with skills **/
.wraps-theme19 .hold-carousel.wrap-skills .slick-slide{
    margin: 0;
}
.wraps-theme19 .hold-carousel.wrap-skills .slide-item{
    background-color: transparent;
    border-radius: 0;
    width: 100% !important;
    padding: 0px 20px;
}

.wraps-theme19 .hold-carousel.wrap-skills .slide-item .item-skill{
    max-width: 1123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 30px auto;
}
.wraps-theme19 .hold-carousel.wrap-skills .slide-item .item-skill .v-progress-linear{
    max-width: 1011px;
}


.wraps-theme19 .hold-carousel.wrap-skills .slide-item .item-skill .skill-pic{
    background: #fff;
    min-width: 83px;
    height: 83px;
    border: 5px solid #1793D2;
    margin-right: 2%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wraps-theme19 .hold-carousel.wrap-skills .slide-item .item-skill .skill-pic img{
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

@media only screen and (max-width: 480px) {
    /** Mobile vertical slider **/
    .hold-slider .slick-list{
        padding: 0 !important;
    }
    
    .hold-slider .slick-slider.slick-vertical .slick-slide{
        height: 42vh;
        margin-bottom: 2vh;
    }
    .mc-subtabs_skills .hold-skills{
        margin: 12vh auto !important;
    }
    .mc-subtabs_skills .hold-skills .slick-slide{
        min-height: 170px;
        width: auto ;
    }
    .mc-subtabs_skills .hold-skills > div:nth-child(2){
        padding: 0 !important;
        justify-content: center !important;
    }

    .mc-subtabs_skills .hold-skills .slick-slide .item-skill .v-progress-circular{
        max-width: 86px;
    }

    .mc-subtabs_skills .hold-skills .slick-slide .item-skill .v-progress-circular .v-progress-circular__info{
        font-size: 24px;
    }

}
@media screen and (max-width: 769px) {
    .wraps-theme19 .hold-carousel .slick-slide .slide-item{
        margin: 16px 0px;
    }

    .wraps-theme19 .hold-carousel .nav-slider{
        margin: 20px auto 0px auto;
        min-width: 523px;
        height: 137px;
    }

    .wraps-theme19 .hold-carousel .nav-slider .slick-arrow{
        font-size: 24px;
    }
    .wraps-theme19 .hold-carousel .slick-slide:first-child{
        margin-left: 28px;
    }

    
}
