/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;

}

.projectsSection  .slick-list{
    position: relative;
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    height: auto;
}

.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px 0 0 0 !important;
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}
.slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: #fff;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #000;
}



/*** Slider theme 13 ***/
.hold-slider{
    margin-top: 103px;
    height: 750px;
    overflow: hidden;
}
.hold-slider .slick-list{
    overflow: visible;
}
.hold-slider .slick-slider .slick-track{
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide{
    height: 683px;
    margin: 0px 40px;
    width: 583px !important;
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide>div{
    text-align: center;
}
.hold-slider .slick-slide .slide-item img{
    width: 583px;
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide .slide-item{
    transition: all 0.5s ease-in;
    padding-top: 30%;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 54px 49px -64px rgba(0,0,0,0.51);
    overflow: hidden;
}
.hold-slider .slick-slide.slick-current .slide-item{
    padding: 0;
}
.hold-slider .slick-slide.slick-current .slide-item img{
    width: 100%;
}
.hold-slider .slick-slide.slick-current{
    margin-left: 0px;
    width: 936px !important;
}

/**
.hold-slider .slick-slide{
    transition: all 0.5s ease-in;
    width: 539px;
    height: 393.3px;
    margin-left: 80px;
}
.hold-slider .slick-slide.slick-current{
    padding-top: 0 !important;
    height: 683px; 
    margin-left: 0;
}

.hold-slider .slick-slide div{
    transition: all 0.5s ease-in;
    border-radius: 40px;
    box-shadow: 0px 54px 49px -64px rgba(0,0,0,0.51);
    width: 100%;
}
.hold-slider .slick-slide .slide-portfolio img{
    width: 100%;
    transition: all 0.5s ease-in;
}
.hold-slider .slick-slide.slick-current div{
    margin: 0;
} */

/*** Slider on Tabs skills **/
.hold-skills .nav-slider,.hold-slider .nav-slider{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.hold-skills .nav-slider .navDotsContents, .hold-slider .nav-slider .navDots{
    margin: 0px 30px;
}

.hold-skills .nav-slider .navDotsContents ul,.hold-slider .nav-slider .navDots ul{
    padding-top: 0 !important;
}
.hold-skills .nav-slider .navDotsContents ul li, .hold-slider .nav-slider .navDots ul li{
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.hold-skills .nav-slider .navDotsContents ul li.slick-active, .hold-slider .nav-slider .navDots ul li.slick-active{
    border: 1px solid #1B33F2;
}

.hold-skills .nav-slider .navDotsContents ul li button, .hold-slider .nav-slider .navDots ul li button{
    width: 18px;
    height: 18px;
    background: #1B33F2;
    border: 0;
    outline: none;
    opacity: .4;
}
.hold-skills .nav-slider .navDotsContents ul li.slick-active button, .hold-slider .nav-slider .navDots ul li.slick-active button{
    opacity: 1;
}

